
@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <h2>查詢結果</h2>

    <table class="table table-bordered" style="width:100%">
        <tr class="info">
            <td align="center">訂單編號</td>
            <td align="center">客戶名稱</td>
            <td align="center">訂購日期</td>
            <td align="center">發貨日期</td>
            <td align="center"></td>
            <td align="center"></td>

        </tr>
        @foreach (var item in (List<Resarch.Models.Orders>)ViewBag.ID)
        {
            <tr>
                <td align="center">@item.OrderID</td>
                <td align="center">@item.Customers.CompanyName</td>
                <td align="center">@item.OrderDate</td>
                <td align="center">@item.ShippedDate</td>


                <td align="center"><a href="update?orderID=@item.OrderID"><input type="button" value="修改" class="btn btn-info" /></a></td>
                <td align="center"> <input type="button" value="刪除"  class="btn btn-danger" onclick="DelOrder(@item.OrderID)"></td>

</tr>
        }




    </table>
    <table>
        <tr>
            <td align="center"><a href="Index"><input type="button" value="回前一頁" class="btn btn-default" /></a></td>
        </tr>


    </table>

    </body>
</html>

<script>
    $(document).ready(function () {
        $(".text").kendoMaskedTextBox();
        $(".OrderID").kendoNumericTextBox({
            format: "#",
            min:10248,
        });
        $(".select").kendoComboBox();
        $(".date").kendoDatePicker({
            format:"yyyy/MM/dd",animation: {
                close: {
                    effects: "fadeOut zoom:out",
                    duration: 300
                },
                open: {
                    effects: "fadeIn zoom:in",
                    duration: 300
                }
            }


        });
        $(".btn").kendoButton();
    })

    function DelOrder(OrderID) {


        $.ajax({
            type: "GET",
            url: "/Resarch/Delete",
            data: {
                OrderID: OrderID
            },
            contentType: "application/json charset=utf-8",
            dataType: "json",

        });

        alert("刪除成功");
        document.location.reload();

        
    }
</script>
