
@{
    ViewBag.Title = "update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body onload="Table()">
@using (Html.BeginForm("update", "Resarch", FormMethod.Post))
{
    <h2>修改訂單</h2>

    <table border="1" style="width:100%" border-collapse="collapse" class="table table-bordered">
        <tr>
            <td align="center">訂單編號</td>
            <td colspan="3"><input type="text" name="OrderID" class="form-control" value="@ViewBag.orderID.OrderID"  /></td>
        </tr>
        <tr>
            <td align="center">客戶名稱</td>
            <td colspan="3" >
                <select name="CustName" class="form-control">
                    <option selected value="@ViewBag.CustNameID">@ViewBag.CustomerName</option>
                    @foreach (var item in (List<Resarch.Models.Customers>)ViewBag.Custname)
                    {
                        <option value="@item.CustomerID">@item.CompanyName</option>
                    }


                </select>
            </td>
        </tr>
        <tr>
            <td align="center">負責員工名稱</td>
            <td colspan="3" >
                <select name="EmpName" class="form-control">
                    <option selected value="@ViewBag.EmpNameID">@ViewBag.Employee</option>
                    @foreach (var item in (List<Resarch.Models.Employees>)ViewBag.EmpName)
                    {
                        <option value="@item.EmployeeID">@item.FirstName</option>
                    }

                </select>
            </td>
        </tr>
        <tr>
            <td align="center">訂單日期</td>
            <td ><input value="@ViewBag.OrderDate" type="date" name="OrderDate" /></td>
            <td align="center">需要日期</td>
            <td ><input value="@ViewBag.NeedDate" type="date" name="NeedDate" /></td>
        </tr>
        <tr>
            <td align="center">出貨日期</td>
            <td colspan="3" ><input value="@ViewBag.ShipDate" type="date" name="ShipDate" /></td>
        </tr>
        <tr>
            <td align="center">出貨公司名稱</td>
            <td colspan="3">
                <select name="ComName" class="form-control">
                    <option selected value="@ViewBag.ConpNameID" class="form-control">@ViewBag.ShipperName</option>
                    @foreach (var item in (List<Resarch.Models.Shippers>)ViewBag.ShipName)
                    {
                        <option value="@item.ShipperID">@item.CompanyName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td align="center">運費</td>
            <td colspan="3"><input type="text" name="Money" class="form-control" oninput="changeTotal()" value="@ViewBag.orderID.Freight" /></td>
        </tr>

        <tr>
            <td align="center">出貨國家</td>
            <td><input type="text" name="ShipCountry" class="form-control" value="@ViewBag.orderID.ShipCountry" /></td>
            <td align="center">出貨城市</td>
            <td><input type="text" name="ShipCity" class="form-control" value="@ViewBag.orderID.ShipCity" /></td>
        </tr>
        <tr>
            <td align="center">出貨地區</td>
            <td><input type="text" name="ShipArea" class="form-control" value="@ViewBag.orderID.ShipRegion" /></td>
            <td align="center">郵遞區號</td>
            <td><input type="text" name="AddressNum"  class="form-control" value="@ViewBag.orderID.ShipPostalCode" /></td>
        </tr>
        <tr>
            <td align="center">出貨地址</td>
            <td><input type="text" name="ShipAddress" class="form-control" value="@ViewBag.orderID.ShipAddress" /></td>
            <td align="center">出貨說明</td>
            <td><input type="text" name="ShipDesc" class="form-control" value="@ViewBag.orderID.ShipName" /></td>
        </tr>

        <tr>
            <td align="center">訂單金額總計</td>
            <td colspan="3"><input type="text" id="subtotal" class="form-control" value="@ViewBag.total"/></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">
                <input type="submit" value="存檔"  class="btn btn-success" />
                <input type ="button" value="刪除本訂單" class="btn btn-danger" onclick="DelOrder(@ViewBag.orderID.OrderID)">
                <input type="button" value="取消" class="btn btn-primary" onclick="goback()">
            </td>
        </tr>


    </table>

    <br />


    <h2>訂單明細</h2>

    <br />
    <input type="button" value="新增訂單" class="btn btn-primary" onclick="addrow()" />
    <table id="TableId" border="1" style="width:100%" border-collapse="collapse" class="table table-bordered">
        <tr>
            <td align="center">商品</td>
            <td align="center">單價</td>
            <td align="center">數量</td>
            <td align="center">小計</td>
            <td></td>
        </tr>
   

    </table>
}
</body>
</html>

<script type="text/javascript">

    var count = document.getElementById("TableId").rows.length - 1;

    function Table() {
        var TableId = document.getElementById("TableId");
        var TableDetail = TableId.tBodies[0];



        @foreach(var item in (List<Resarch.Models.OrderDetails>)ViewBag.OrderDetails)
        {
                @:count++;
                @:var tr = document.createElement("tr");
                @:var product = document.createElement("td");
                @:var select = document.createElement("select");
                @:select.setAttribute("id", "product" + count);
                ///當發生改變時
                @:select.setAttribute("onchange","ChangeProduct('product"+count+"')");
                @:select.setAttribute("name","productName[" + count + "]");
                @:var price = document.createElement("td");
                
                @:var quanty = document.createElement("td");
                
                @:var total = document.createElement("td");
                ///總計
                @:var sum=@item.Qty*@item.UnitPrice;

                @:var line = document.createElement("td");

                @:var cancel = document.createElement("button");
                @:cancel.setAttribute("id","cancel"+ count);
                @:cancel.setAttribute("class", "btn btn-danger");


             @:var option = new Option("@item.Products.ProductName", "@item.Products.ProductID");

                    @:tr.appendChild(product);

                    @:select.appendChild(option);


                foreach(var a in (List<Resarch.Models.Products>) ViewBag.Product)
                {
                        @:select.appendChild(new Option("@a.ProductName", "@a.ProductID"));

                    }
            @:product.appendChild(select);


            ///放入價格
            @:tr.appendChild(price);
            @:price.innerHTML = "<input type='Text' id='price" +count+ "' name='price[" + count + "]' value='@item.UnitPrice' oninput='ChangeTotal("+count+")' />";

            ///放入數量
            @:tr.appendChild(quanty);
            @:quanty.innerHTML = "<input type='Text' id='quanty" + count + "' name='quanty[" + count + "]' value='@item.Qty' oninput='ChangeTotal("+count+")'/>";

            ///放入小計
            @:tr.appendChild(total);
            @:total.innerHTML = "<input type='Text' id='total" + count + "' name='total' value='"+sum+"' />";

            ///放入取消按鈕
            @:tr.appendChild(line);
            @:line.appendChild(cancel);
            @:cancel.innerText="取消";
            @:cancel.setAttribute("id",count)
            @:cancel.setAttribute("onclick","cancel("+count+")")


        @:TableDetail.appendChild(tr);



        }
    }

    function addrow(){
                count++;
                var TableId = document.getElementById("TableId");
                var TableDetail = TableId.tBodies[0];
                var tr = document.createElement("tr");
                var product = document.createElement("td");
                var select = document.createElement("select");
                select.setAttribute("id", "product" + count);
                ///當發生改變時
                select.setAttribute("onchange","ChangeProduct('product" + count+"')");
                select.setAttribute("name","productName[" + count + "]");
                var price = document.createElement("td");
                var quanty = document.createElement("td");

                var total = document.createElement("td");
                ///總計
                var sum=0;

                var line = document.createElement("td");

                var cancel = document.createElement("button");
                cancel.setAttribute("id","cancel"+ count);
                cancel.setAttribute("class","btn btn-danger");


             var option = new Option("請選擇商品", "");

                    tr.appendChild(product);

                    select.appendChild(option);


                @foreach(var a in (List<Resarch.Models.Products>) ViewBag.Product)
                {
                        @:select.appendChild(new Option("@a.ProductName", "@a.ProductID"));

                    }
            product.appendChild(select);


            ///放入價格
            tr.appendChild(price);
            price.innerHTML = "<input type='Text' id='price" +count+ "' name='price[" + count + "]'  oninput='ChangeTotal("+count+")' />";

            ///放入數量
            tr.appendChild(quanty);
            quanty.innerHTML = "<input type='Text' id='quanty" + count + "' name='quanty[" + count + "]' oninput='ChangeTotal("+count+")' />";

            ///放入總計
            tr.appendChild(total);
            total.innerHTML = "<input type='Text' id='total" + count + "' name='total'  />";

            ///放入取消按鈕
            tr.appendChild(line);
            line.appendChild(cancel);
            cancel.innerText="取消";
            cancel.setAttribute("id",count)
            cancel.setAttribute("onclick","cancel("+count+")")
            


        TableDetail.appendChild(tr);


    }

    ///取消新增的訂單
    function cancel(num){

        var TableId = document.getElementById("TableId");

        if(num !=count)
        {
            num++
        }

        else
        {
            num=count;
        }

        TableId.deleteRow(num);
        count--;

    }

    //改變金額
    function ChangeProduct(selectID){
        var select=document.getElementById(selectID);

        for(var i=0;i<select.options.length;i++)
        {
            if(select.options[i].selected){

                ChangePrice(select.options[i].value,select.id);

                changeTotal();
                break;

            }
        }

    }

    function ChangePrice(productID,selectPrice){

        var id=selectPrice.substring(7);
        var price=document.getElementById("price"+id);
        var qty=document.getElementById("quanty"+id);
        var subtotal=document.getElementById("total"+id);
        $.ajax({

            type:"GET",
            url:"/Resarch/Price",
            data:{
                priceID:productID
            },
            contentType:"application/json charset=utf-8",
            dataType:"json",
            success:function(message){

                price.value=message;
                subtotal.value=Math.round(qty.value*price.value);

            }


        })


    }
    //不管修改什麼都可以改變小計
    function ChangeTotal(change){
        var price=document.getElementById("price"+change);
        var qty=document.getElementById("quanty"+change);
        var subtotal=document.getElementById("total"+change);

        subtotal.value=Math.round(qty.value*price.value);

        changeTotal();
         }
    //刪除訂單

    function DelOrder(OrderID){


        $.ajax({
            type:"GET",
            url:"/Resarch/Delete",
            data:{
                OrderID:OrderID
            },
            contentType:"application/json charset=utf-8",
            dataType:"json",
          
        });

        alert("刪除成功");
        document.location.href="/Resarch/Index";
    }

    function goback(){

        history.back();
    }

    //改變新增產品的總價格
    function changeTotal(){

        var value=0;
        var length=document.getElementById("TableId").rows.length-1;
        var shipCost=document.getElementsByName("Money")[0].value;

        for(var i=0;i<length;i++){
            value=Number(value)+Number(document.getElementsByName("total")[i].value); 
            
        }
        value+=Number(shipCost);     
        document.getElementById("subtotal").value=Math.round(value);

    }

</script>